.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  color: #1C1E21;
  /*min-height: 100vh;*/
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.test {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  border-radius: 0.5rem;
  cursor: pointer;
  flex-direction: column;
  margin: 1rem;
  padding: 0 1rem;
  width: 128px;
}

.gridRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /*align-items: center;*/
  /*padding: 2rem 0;*/
  /*width: 100%;*/
  /*min-height: 100vh;*/
}

.careerSection {
  color: #1C1E21;
  background-color: #f5f5f5;
}

.careerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  border: 1px solid;
  width: 15rem;
  background-color: white;
  height: 10rem;
}

.careerContainer {
  display:flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;*/
  /*flex-direction:row;*/
}

.companyLogoDiv {
  flex: 1;
  border-right: 2px solid gray;
  margin: 0 auto
}

@media screen and (max-width: 758px) {
  .careerContainer{
    display:flex;
    flex-direction: column;
  }

  .companyLogoDiv {
    flex: 1;
    border-right: 0px;
    margin: 1rem auto
  }
  
}

/*.img {*/
/*  width: 100%;*/
/*  !*width: 2rem;*!*/
/*  height: 100%;*/
/*}*/



.companyInfo {
  border-bottom: 3px solid gray;
  width: 100%
}

.companyName {
  padding-bottom: 0.5rem;
  font-weight: 900;
  font-size: 1.5rem;
}

.companyTerm {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  font-weight: 400;
  font-size: 1.1rem;
  color: #6c757d;
}

.projectName {
  padding-top: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.projectTerm {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  font-weight: 200;
  font-size: 1rem;
  color: #6c757d;
}

.projectHeader {
  font-weight: 600;
  font-size: 1.1rem;
}

.projectContent {
  margin-bottom: 0.8rem;
}

.projectSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projectSkills > div {
  margin: 0.1rem;
}