.gridRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /*align-items: center;*/
  /*padding: 2rem 0;*/
  /*width: 100%;*/
  /*min-height: 100vh;*/
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.test {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*background: #8e9eab;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #eef2f3, #8e9eab); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  box-shadow: 1px 1px 1px 1px #dadce0;
  border-radius: 0.5rem;
  cursor: pointer;
  flex-direction: column;
  margin: 1rem;
  padding: 0 1rem;
  width: 128px;
  display: flex;
  align-items: center;
  height: 8rem;
}

.test svg:hover {
  width: 84px;
  height: 84px;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
}